*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #404040;
    display: flex;
    height: 100vh;
    padding: 20px;

    background-color: brown;
    justify-content: center;
    align-items: center;
    background-image: url(imagem-fundo.png);
    background-size: cover;
    background-position: 50%;
}

form{
    background-color: white;
    padding: 50px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1{
    font-size: 24px;
}

button{
    padding: 13px;
    width: 160px;
    align-self: center;
    border-radius: 30px;
    background-image: linear-gradient(#256a8a, #3393c1);
    border: solid 1px #256a8a;
    border-right-width: 5px;
    border-bottom-width: 9px;
    font-size: 16px;
    color: white;
    font-weight: 700;
}

input, select{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
}

.barra-horizontal{
    background-color: #4a5ac0;
    height: 5px;
    width: 200px;
}

.campo-input{
    display: flex;
    flex-direction: column;
}

.lembrar-me{
    display: flex;
    gap: 5px;
}

.titulo-cadastro{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login{
    text-align: center;
}